.iam-ui .iamui-button {
    min-width: 160px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 13px 20px;
    border: 2px solid transparent;
    font: 700 14px/20px $font--alt;
    letter-spacing: 0.62px;
    text-transform: uppercase;
    text-align: center;
    transition: background .2s ease;

    &, &:visited {
        outline: none;
        box-shadow: none;
    }

    &:hover, &:active, &:focus {
        outline: none;
        box-shadow: none;
    }

    &.iamui-button--cyan {
        
        &, &:visited {
            color: $color-white;
            background: $color-cyan;
        }

        &:hover, &:active, &:focus {
            color: $color-white;
            background: $color-cyan--light;
        }
    }
}