// NAVIGATION header
.iam-ui .iamui-navigation--header {

    ul, li {
        list-style: none;
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            display: block;
            color: $color-black;
            font: 700 12px/15px $font--alt;
            letter-spacing: 0.62px;
            text-transform: uppercase;

            a {
                font-weight: 700;
                text-decoration: none;

                &, &:visited {
                    color: $color-black;
                }

                &:hover, &:active, &:focus {
                    color: $color-blue;
                }
            }

            &.current-menu-item {

                a {
    
                    &, &:visited {
                        color: $color-blue;
                    }
    
                    &:hover, &:active, &:focus {
                        color: $color-blue;
                    }
                }
            }

            &:not(:first-child) {
                margin-left: 15px;
            }
        }

        @include screen("medium") {
            text-align: right;
        }
    }
}

// NAVIGATION footer
.iam-ui .iamui-navigation--footer {

    ul, li {
        list-style: none;
    }

    ul {
        text-align: center;

        li {
            display: inline-block;
            color: $color-white;
            font: 400 14px/20px $font;
            letter-spacing: 0.62px;

            &:not(:last-child):after {
                content: "•";
                margin: 0 6px 0 8px;
            }

            a, a:visited, a:hover, a:active, a:focus {
                color: $color-white;
                font-weight: 400;
                text-decoration: none;
            }
        }

        @include screen("medium") {
            text-align: right;
        }
    }
}