// COLORS base
$color-white: #FFF;
$color-gray: #EEE;
$color-green: #00C2A5;
$color-cyan: #00D2F4;
$color-blue: #4C6CDE;
$color-purple: #7E55A2;
$color-red: #C82E00;
$color-black: #232727;

// COLORS light
$color-gray--light: #F5F5F5;
$color-green--light: #01DBBB;
$color-cyan--light: #59E1F7;
$color-blue--light: #5C80FF;
$color-purple--light: #9868C3;
$color-red--light: #F23E02;
$color-black--light: #434848;

// COLORS dark
$color-gray--dark: #DDD;
$color-green--dark: #008672;
$color-cyan--dark: #0193AB;
$color-blue--dark: #3650AB;
$color-purple--dark: #422A57;
$color-red--dark: #841F00;
$color-black--dark: #0A0C0C;